---
Language:            Cpp
BasedOnStyle:        LLVM
IncludeBlocks:       Regroup
IncludeCategories:
  - Regex:           '^"'
    Priority:        5
  - Regex:           '<c[[:alnum:].]+>'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           '^(<catch2/)'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
IncludeIsMainRegex: '(.test)?$'
