---
Checks:          '-*,bugprone-*,cppcoreguidelines-*,clang-analyzer-*,clang-diagnostic-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
HeaderFilterRegex: '.*'
